* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    gap: 100px;
    font-size: xx-large;
    color: blue;
    line-height: 2;
}
